<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/Taskstyle.css">
</head>

<body>
    <div class="container">
        <h1>Task</h1>
        <div class="formContainer">
            <form action="/tasks/<%=task.id%>?_method=PUT" method="post">
                <label for="title">Title:</label>
                <input type="text" name="title" value="<%= task.title %>" required autocomplete="false">
                <label for="description">Description:</label>
                <input type="text" name="description" value="<%= task.description %>" required autocomplete="false">
                <label for="dueDate">Due Date:</label>
                <input min="2024-05-26" class="dateInput" type="date" name="dueDate" value="<%= task.dueDate %>"
                    autocomplete="false" required>
                <label for="status">Status:</label>
                <select class="dateInput" id="statusInput" name="status" aria-placeholder="Select status">
                    <option value="pending">Pending</option>
                    <option value="in-progress">In progress</option>
                    <option value="completed">Completed</option>
                </select>
                <button type="submit">Update Task</button>
            </form>
            <form action="/tasks/<%=task.id%>?_method=DELETE" method="post">
                <button type="submit">Delete Task</button>
            </form>
        </div>
    </div>
</body>

</html>